// {
//     "presets": ["es2017", "react"],
//     // "plugins": ["react-hot-loader/babel"]
// }
{
    "presets": [
        ["env", {"modules": false }], "react"
    ],
    "plugins": ["react-hot-loader/babel"]
}
